:root {
  --black: #000000;
  --black2: #3f3f3f;
  --black3: #131313;
  --white: #ffffff;
  --accent: #eb5757;
  --light-blue-hover: #f0f2f2;
  --light-blue: #e6f1fa;
  --gray1: #828282;
  --gray2-divider: #c4c4c4;
  --gray3: #bdbdbd;
  --gray4: #4f4f4f;
  --gradient-light-blue: #ddebf1;
  --gradient-light-orange: #f7e0d5;
  --gradient-light-rose: #f1eff0;
  --gradient-light-yellow: #e0ded3;
  --font-family: "Oswald", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Roboto Light", sans-serif;
  --font3: "Roboto Medium", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/*Page*/
.page {
  overflow: hidden;
}
/*Container*/
.container {
  width: 100%;
  margin: 0 auto;
}
/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--black);
}
.header__logo {
  margin: 35px 21px;
}
.header__nav {
  display: flex;
  margin: 44px 400px 50px 600px;
  align-items: center;
  flex-direction: row;
  gap: 29px;
}
.header__nav-burger__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white);
}
.header__nav-text {
  color: var(--white);
  font: 600 14px var(--font-family);
  text-transform: uppercase;
}
.home-text__active {
  border-bottom: #eb5757 solid 2px;
}
.header__registration {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-right: 30px;
}
.header__registration-text {
  color: var(--white);
  font: 600 14px var(--font-family);
  text-transform: uppercase;
}
.header__basket-favorites {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.header__basket-favorites-text {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  margin: 43px 11px;
  word-wrap: break-word;
}
.header__basket-favorites-cart {
  font: 500 12px var(--font3);
  color: var(--white);
}
.header__basket-favorites-money {
  font: 700 14px var(--second-family);
  color: var(--white);
  text-transform: uppercase;
  align-self: flex-start;
}
/*Summer Sale Container*/
.summer-sale {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 21px;
  background-color: linear (174deg, var(--white) 35.42%, var(--black) 100%);
  background-image: url("img/headerBackground.png");
  background-repeat: no-repeat;
}
.container__text {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin: 200px;
  font: 600 86px var(--font-family);
  text-transform: uppercase;
}
.container__title {
  color: var(--black);
}
.summer-sale__subtitle {
  -webkit-text-stroke: 2px var(--black);
  -webkit-text-fill-color: transparent;
}
/*Button*/
.button {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #000;
  width: 180px;
  background-color: transparent;
  margin-top: 50px;
}
.button__text {
  font: 500 18px var(--font-family);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 10px 39px;
  color: var(--black);
}
.summer-sale__images {
  width: 804px;
  display: flex;
  justify-content: center;
}
.summer-sale__image-back {
  width: 416px;
  margin: 90px 0;
}
.summer-sale__image-front {
  width: 474px;
  margin: 47px 40px 0 -80px;
}
.summer-sale__squares {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  float: left;
  margin: 22px 28px;
}
.summer-sale__arrow {
  display: flex;
  margin: 0 41px;
  gap: 3px;
  align-self: flex-end;
}
/*Chose Your Brand*/
.chose-your-brand {
  margin-top: 19px;
}
.chose-your-brand__title {
  font: 400 24px var(--font-family);
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  top: -12px;
  position: relative;
}
.chose-your-brand__border {
  position: absolute;
  stroke-width: 2px;
  stroke: var(--gray2-divider);
  margin: 0 21px;
}
.chose-your-brand__img-brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
  margin: -8px 21px;
}
.brand__img-last {
  display: none;
}
/*Three cards container*/
.three-cards {
  display: grid;
  max-width: 1878px;
  margin: 70px 21px 30px 21px;
  gap: 30px;
}
.three-cards__text {
  margin: 83px 64px;
}
.three-cards__title {
  max-width: 221px;
  font: 600 48px var(--font-family);
  text-transform: uppercase;
  color: var(--black);
}
.three-cards__subtitle {
  margin-top: 7px;
  font: 300 22px var(--third-family);
  color: var(--black);
}
/*Brand Choose Your Look*/
.three-cards__choose-look {
  display: flex;
  max-width: 924px;
  background-color: var(--gradient-light-rose);
}
/*Brand New Style*/
.three-cards__new-style {
  display: flex;
  width: 924px;
  background-color: gray;
  background: linear-gradient(
    90deg,
    #f7e0d5 0%,
    #f3dcd2 83.85%,
    rgba(243, 220, 210, 0.14) 100%
  );
}
.three-cards__text-new-style {
  margin: 115px 15px 115px 94px;
  position: absolute;
}
/*Brand New Style Image*/
.three-cards_2 {
  position: relative;
  margin-left: auto;
  width: 557px;
  height: 434px;
}
/*Up to 40% off*/
.three-cards__up-to {
  display: flex;
  position: relative;
  width: 925px;
  height: 560px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
/*Image Up to 40% off*/
.three-cards_3 {
  position: absolute;
  z-index: -1;
}
.three-cards__text-up-to {
  width: 357px;
  height: 380px;
  margin: 430px 0 103px 83px;
}
.three-cards__title-big {
  font: 600 96px var(--font-family);
  text-transform: uppercase;
  color: var(--black3);
}
.up-to__button {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #000;
  width: 180px;
  background-color: transparent;
  margin-top: 50px;
}
.button__text {
  font: 500 18px var(--font-family);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 10px 39px;
  color: var(--black);
}

/*Shop Some Wear*/
.shop-some-wear {
  display: flex;
  justify-content: space-between;
  margin: 30px 21px 0 21px;
}
@media (max-width: 320px) {
  .shop-some-wear {
    margin: 15px 14px;
  }
}
.shop-some-wear__title {
  font: 400 24px var(--font-family);
  color: var(--black);
  margin-bottom: 30px;
}
@media (max-width: 320px) {
  .shop-some-wear__title {
    display: none;
  }
}
.shop-some-wear__categories {
  display: flex;
  width: 20%;
  gap: 20px;
  flex-direction: column;
  border-right: 1px solid var(--gray2-divider);
}
@media (max-width: 320px) {
  .shop-some-wear__categories {
    display: none;
  }
}
.shop-some-wear__item {
  display: flex;
  gap: 9px;
}
@media (max-width: 320px) {
  .shop-some-wear__item {
    display: none;
  }
}
.checkbox {
  appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid var(--gray3);
  outline: none;
  transition: background-color 0.3s ease-in-out;
}
.checkbox:checked::before {
  content: "\2714";
  display: flex;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 10px;
}
.checkbox:checked {
  background-color: var(--black);
}
.item__box-text {
  font: 400 14px var(--second-family);
  text-transform: uppercase;
  color: var(--black2);
}
.dresses-flex__title {
  display: none;
}
.shop-some-wear__dresses {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 26px;
  margin: 0 46px 0 29.5px;
}
@media (max-width: 320px) {
  .dresses__flex {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1185px;
  }
  .shop-some-wear__dresses {
    margin: 16px 4px;
    justify-content: center;
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 18px 14px;
  }
}
.dresses-flex__title {
  align-items: center;
  height: 22px;
  display: flex;
  font: 400 18px / 3.77778 var(--font-family);
  color: var(--black);
}
.item {
  display: flex;
  flex-direction: column;
}
@media (max-width: 320px) {
  .item {
    width: 139px;
    height: 260px;
  }
}
.item__image {
  position: relative;
}
.item__text-gray {
  font: 600 12px var(--font-family);
  text-transform: uppercase;
  color: var(--gray3);
}
@media (max-width: 320px) {
  .item__text-gray {
    font: 600 10px var(--font-family);
  }
}
.item__text {
  font: 300 18px var(--font-family);
  color: var(--black);
}
@media (max-width: 320px) {
  .item__text {
    font: 300 12px var(--font-family);
  }
}
.item__text-span {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.item__price {
  font: 500 22px var(--font-family);
  text-transform: uppercase;
  color: var(--black);
}
@media (max-width: 320px) {
  .item__price {
    font: 500 14px var(--font-family);
  }
}
.item__price-accent {
  font: 500 22px var(--font-family);
  text-transform: uppercase;
  color: var(--accent);
}
@media (max-width: 320px) {
  .item__price-accent {
    font: 500 14px var(--font-family);
  }
}
.item__pricethrough {
  font: 400 14px var(--font-family);
  text-transform: uppercase;
  color: var(--gray1);
  text-decoration: line-through;
  margin-top: 10px;
}
@media (max-width: 320px) {
  .item__pricethrough {
    font: 400 8px var(--font-family);
  }
}
.dresses__item-discount {
  position: absolute;
  display: flex;
  background: var(--black);
  width: 40px;
  margin-top: 15px;
}
@media (max-width: 320px) {
  .dresses__item-discount {
    width: 33px;
    height: 17px;
    margin-top: 10px;
  }
  .item-discount__adaptive {
    display: none;
  }
}
.dresses__item-discount-text {
  font: 400 14px var(--font-family);
  text-align: center;
  color: var(--white);
  padding: 0 3px;
}
@media (max-width: 320px) {
  .dresses__item-discount-text {
    font: 400 12px var(--font-family);
  }
}
.dresses__button {
  display: flex;
  background: transparent;
  border: 2px solid var(--gray1);
  padding: 20px 35px;
  width: 140px;
  margin: 63px 686px;
}
@media (max-width: 320px) {
  .dresses__button {
    position: absolute;
    bottom: 0;
    width: 292px;
    height: 35px;
    margin: 0 auto;
    padding: 7px 119px;
    border: 2px solid var(--gray2-divider);
  }
}
.dresses__button-text {
  font: 500 14px var(--font-family);
  text-transform: uppercase;
  text-align: center;
  color: var(--gray1);
}
.dresses__button-subtext {
  display: none;
}
@media (max-width: 320px) {
  .dresses__button-text {
    display: none;
  }
  .dresses__button-subtext {
    display: flex;
    font: 500 12px var(--font-family);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--black2);
  }
}

/*Mobile*/
@media (max-width: 320px) {
  /*Header*/
  .header {
    width: 320px;
    height: 50px;
  }
  .header__logo {
    width: 66px;
    height: 31px;
    margin: 9px 60px 9px 122px;
  }
  .header__nav {
    display: none;
  }
  .header__nav-burger {
    display: flex;
    position: absolute;
    top: 18px;
    left: 14px;
    bottom: 17px;
    z-index: 1;
    width: 20px;
    gap: 3px;
    flex-direction: column;
  }
  .header__registration {
    display: none;
  }
  .header__basket-favorites {
    gap: 15px;
    margin: 11px 9px 15px 0;
  }
  .header__favorites {
    display: none;
  }
  .basket {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }
  .header__basket-two {
    position: absolute;
    align-items: flex-end;
    margin: -2px;
    width: 14px;
    background-color: var(--accent);
    font: 500 10px var(--font-family);
    text-align: center;
    color: var(--white);
  }
  .header__basket {
    width: 23px;
  }
  /*Summer Sale Container*/
  .summer-sale {
    width: 320px;
    height: 492px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .container__text {
    display: flex;
    width: 292px;
    height: 75px;
    text-align: center;
    font: 600 32px var(--font-family);
    color: #000;
    margin: -70px 14px 44px 14px;
    line-height: 35px;
    order: 2;
  }
  .summer-sale__subtitle {
    -webkit-text-fill-color: var(--black);
    -webkit-text-stroke: transparent;
  }
  /*Button*/
  .button {
    width: 115px;
    height: 41px;
    display: flex;
    width: 115px;
    height: 41px;
    flex-direction: row;
    margin: 120px 100px 35px 100px;
    white-space: nowrap;
    align-items: center;
  }
  .button__text {
    font-size: 14px;
    padding: 1px 19px;
  }
  .summer-sale__images {
    width: 205px;
    flex-direction: row;
    margin: -15px 57px -2px 57px;
  }
  .summer-sale__image-back {
    width: 122px;
    margin: 42px 0 31px 57px;
  }
  .summer-sale__image-front {
    width: 137px;
    margin: 30px 57px 0 -60px;
  }
  .summer-sale__squares {
    left: 28%;
    transform: translateY(385px);
    margin: 65px 25px 22px 25px;
    width: 92px;
    height: 19px;
  }
  .summer-sale__arrow {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    order: 2;
    padding: 11px 14px;
  }
  .arrow__right {
    float: right;
    width: 41px;
    height: 41px;
  }
  .arrow__left {
    float: left;
    width: 41px;
    height: 41px;
  }
  /*Chose Your Brand*/
  .chose-your-brand {
    margin-top: 12px;
  }
  .chose-your-brand__title {
    display: none;
  }
  .chose-your-brand__border {
    display: none;
  }
  .chose-your-brand__img-brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 14px;
    gap: 14px;
  }
  .brand__img,
  .brand__img-last {
    display: flex;
    border: 2px solid #c4c4c4;
    width: 139px;
    height: 70px;
    object-fit: cover;
  }
  /*Three cards*/
  .three-cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 14px;
  }
  .three-cards__text {
    margin: 18px 30px 18px 5px;
  }
  .three-cards__title {
    font: 600 16px var(--font-family);
  }
  .three-cards__subtitle {
    font: 400 10px var(--second-family);
  }
  /*Three cards Choose your look*/
  .three-cards__choose-look {
    display: flex;
    height: 137px;
    background-color: var(--gradient-light-rose);
    margin: 0 20px 0 0;
  }
  .three-cards__img-1 {
    width: 142px;
    object-fit: cover;
  }
  .button__three-cards {
    display: flex;
    margin: 8px 50px 0px 5px;
    border: 1.5px solid var(--black);
    width: 85px;
    height: 32px;
  }
  .button__three-cards-text {
    font: 600 10px var(--font-family);
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
    padding: 7px 12px;
  }
  /*Three cards New style*/
  .three-cards__new-style {
    order: 3;
    width: 299px;
  }
  .three-cards__text-new-style {
    order: 3;
    margin: 26px 0px 27px 31px;
  }
  .three-cards_2 {
    object-fit: cover;
    width: 173px;
    height: 136px;
  }
  /*Three cards Up to*/
  .three-cards__up-to {
    order: 2;
    height: 100%;
    width: calc(100% - 20px);
    margin-right: 20px;
  }
  .three-cards_3 {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .three-cards__text-up-to {
    margin: 127px 0 34px 27px;
    width: 152px;
    height: 123px;
  }
  .three-cards__title-big {
    font: 600 26px var(--font-family);
  }
}
