:root {
    --black: #000000;
    --black2: #3F3F3F; 
    --white: #ffffff;
    --accent: #EB5757;
    --light-blue-hover: #F0F2F2;
    --light-blue: #E6F1FA;
    --gray1: #828282;
    --gray2-divider: #C4C4C4;
    --gray3: #BDBDBD; 
    --gray4: #4F4F4F; 
    --gradient-light-blue: #DDEBF1;
    --gradient-light-orange: #F7E0D5; 
    --gradient-light-rose: #F1EFF0; 
    --gradient-light-yellow: #E0DED3; 
    --font-family: "Oswald", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Roboto Light", sans-serif;
    --font3: "Roboto Medium", sans-serif;
}
body {
    margin: 0;
    padding: 0; 
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
/*Button*/
.button {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #000;
    width: 175px;
    /* height: 56px; */
    background-color: transparent;
}
.button__text {
    font: 500 18px var(--font-family);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 10px 39px;
    color: var(--black);
}
/*Container*/
.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
/*Header*/
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--black);

}
.header__logo {
    margin: 35px 21px;
}
.header__nav {
    display: flex;
    margin: 44px 400px 50px 600px;
    align-items: center;
    flex-direction: row;
    gap: 29px;
}
.header__nav-text {
    color: var(--white);
    font: 600 14px var(--font-family);
    text-transform: uppercase;
}
#header__nav-home {
    border-bottom: #EB5757 solid 2px;
}
.header__registration {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-right: 30px;
}
.header__registration-text {
    color: var(--white);
    font: 600 14px var(--font-family);
    text-transform: uppercase;
}
.header__basket-favorites {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.header__basket-favorites-text {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    margin: 43px 11px;
    word-wrap: break-word;
}
.header__basket-favorites-cart {
    font: 500 12px var(--font3);
    color: var(--white);
}
.header__basket-favorites-money {
    font: 700 14px var(--second-family);
    color: var(--white);
    text-transform: uppercase;
    align-self: flex-start;
}
/*Summer Sale Container*/
.summer-sale {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 21px;
    background-color: linear (174deg, var(--white) 35.42%, var(--black) 100%);
    background-image: url('img/headerBackground.png');
    background-repeat: no-repeat;
}
.summer-sale__text {
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin: 200px;
}
.summer-sale__title {
    font: 600 86px var(--font-family);
    text-transform: uppercase;
    color: var(--black)
}
.summer-sale__subtitle {
    font: 600 86px var(--font-family);
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--black);
    -webkit-text-fill-color: transparent;
}
.summer-sale__images {
    display: flex;
    justify-content: space-between;
}
.summer-sale__image-back {
    width: 416px;
    height: 623px;
    margin: 90px 0;
}
.summer-sale__image-front {
    width: 474px;
    height: 709px;
    margin: 47px 186px 0 -80px;
}
.summer-sale__squares {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    float: left;
    margin: 22px 28px;
}
.summer-sale__arrow {
    display: flex;
    margin: 22px 28px;
    gap: 3px;
    right: 0;
    bottom: 0;
}
/*Chose Your Brand*/
.chose-your-brand {
    margin-top: 19px;
}
.chose-your-brand__title {
    font: 400 24px var(--font-family);
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
    top: -12px;
    position: relative;
}
.chose-your-brand__border {
    position: absolute;
    stroke-width: 2px;
    stroke: var(--gray2-divider);
    margin: 0 21px;
}
.chose-your-brand__img-brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    margin: -8px 21px;
}